.btcTickerContainer {
  background-color: black;
  color: white;
  display: flex;
  height: 100vh;
  padding: 0;
}

.btcPriceContainer {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
}

.headerClass {
  align-items: center;
  display: flex;
  font-size: 4em;
  line-height: 0;
  margin: 0;
  width: 100%;
}

.btcStyle {
  letter-spacing: -5px;
}
